In [9]:
word = "ROHIT GUPTA"
letter = word[3]
length = len(word)
tCount = word.count('T')
gIndex = word.index('G')
findZ = word.find('T')
print('Hello World!!!')
print(word)
print(letter)
print(length)
print(tCount)
print(gIndex)
print(findZ)
print(word[0])
print(word[0:1])
print(word[0:3])
print(word[:3])
print(word[-3:])
print(word[3:])
print(word[:-3])

Hello World!!!
ROHIT GUPTA
I
11
2
6
4
R
R
ROH
ROH
PTA
IT GUPTA
ROHIT GU

In [13]:
str = "Rohit's"
print(str)
complex(99 +1j)
a= 9.98
type(a)

Rohit's

float

In [15]:
c= False
type(c)

bool

In [21]:
z= 'I\'m walking'
print(z)
z.upper()

I'm walking

"I'M WALKING"

In [23]:
z.title()

"I'M Walking"

In [27]:
a = [1,2,3,4,6,"help" , True]
type(a)

True

In [28]:
a[6]

True

In [29]:
a[0]

1

In [30]:
a[5]

'help'

In [31]:
a[0:6]

[1, 2, 3, 4, 6, 'help']

In [32]:
a[:3]

[1, 2, 3]

In [33]:
a[:-3]

[1, 2, 3, 4]

In [34]:
a[:]

[1, 2, 3, 4, 6, 'help', True]

In [36]:
a[::-1]

[True, 'help', 6, 4, 3, 2, 1]

In [37]:
p="Rohit Gupta"
p[::2]

'RhtGpa'

In [38]:
p[::-1]

'atpuG tihoR'

In [39]:
a[2::-1]

[3, 2, 1]

In [43]:
a.index('help')

5

In [44]:
a

[1, 2, 3, 4, 6, 'help', True]

In [47]:
a.index(True)

0

In [48]:
a.index(1)

0

In [49]:
e="xywz"

In [50]:
s="abcd"

In [90]:
i = s.find('b')
e[i]

'z'

In [60]:
if True:
    print('hello inside true block')
else:
    print('else block')

hello inside true block

In [63]:
s = 'hello'
if s=="heo":
    print('hello inside true block')
else:
    print('else block')

else block

In [64]:

if i!=-1:
    print('hello inside true block')
else:
    print('else block')

else block

In [91]:
a = ["a","helllo", 'c']

In [93]:
for item1 in a:
    print(item1)

a
helllo
c

In [94]:
s1 = 'abcd'
e='xywz'
user_list = 'ba'

In [96]:
for user in user_list:
    user_index = s1.find(user)
    if user_index !=-1:
        print(e[user_index])
    else:
        print("not found")

y
x

In [103]:
def encoder (user_list):
    str='';
    for user in user_list:
        user_index = s1.find(user)
        if user_index !=-1:
            str = str+e[user_index]
        else:
            print("not found")
    return str

In [98]:
def my_sum(s1,s2):
    return s1+s2

In [101]:
my_sum(123,12)

135

In [102]:
my_sum("hell0","world")

'hell0world'

In [104]:
print(encoder("babb"))

yxyy

In [112]:
d={'a':1,'b':2,'c': "Hello world",'marks': [1,2,3,4,5],4:"helo"}
type(d)

dict

In [111]:
d['marks']

[1, 2, 3, 4, 5]

In [113]:
d[4]

'helo'

In [114]:
type(d['marks'])

list

In [119]:
for item in d:
    print(item) # print keys
    print(d[item]) # print values

a
1
b
2
c
Hello world
marks
[1, 2, 3, 4, 5]
4
helo

In [120]:
import pandas

In [123]:
df = pandas.DataFrame({'a':[1,2],'b':[3,4]})

In [124]:
type(df)

pandas.core.frame.DataFrame

In [126]:
len(df)

2

In [127]:
df

   a  b
0  1  3
1  2  4

In [128]:
import pandas as pd

In [133]:
df = pd.read_csv("physician_rx.csv")

In [134]:
len(df)

100

In [137]:
df.head(n=10)

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0
5  AP3674571       70.0           40              0         64           0
6  AP0126982        0.0          135              0          0           0
7        NaN      150.0          315            270        184          36
8  AP1807651        0.0          650              0          0         300
9  AP0728371        0.0            0              0          0           0

In [138]:
df.tail(10)

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [139]:
df.shape

(100, 6)

In [140]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [141]:
df.dtypes

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

In [147]:
df["PHYSICIAN"]

0     AP1912920
1     AP1350415
2     AP0129322
3     AP0462902
4     AP3185026
5     AP3674571
6     AP0126982
7           NaN
8     AP1807651
9     AP0728371
10    AP1934892
11    AP1595288
12    AP1883103
13    AP1365782
14          NaN
15    AP2443797
16    AP0036951
17    AP3200230
18    AP0139724
19    AP2166075
20          NaN
21    AP1332969
22    AP2130355
23    AP0714887
24    AP2214740
25    AP0857188
26          NaN
27    AP1874350
28    AP3209293
29    AP0089696
        ...
70    AP0683877
71    AP0118925
72    AP2152296
73    AP1343639
74    AP1869077
75    AP2196115
76    AP1230067
77    AP2014650
78    AP2281620
79    AP1336198
80    AP0849708
81    AP2113896
82    AP1834639
83    AP0455565
84    AP0849030
85    AP0478796
86    AP3589376
87    AP2459335
88    AP0812453
89    AP0433841
90    AP1947403
91    AP0189854
92    AP3883979
93    AP0390218
94    AP2286280
95    AP1957774
96    AP1273998
97    AP1228990
98    AP1881803
99    AP4772804
Name: PHYSICIAN, Length: 100, dtype: object

In [148]:
df[["PHYSICIAN","AllergyMax_RX"]]

    PHYSICIAN  AllergyMax_RX
0   AP1912920            510
1   AP1350415             60
2   AP0129322              0
3   AP0462902              0
4   AP3185026           1080
5   AP3674571              0
6   AP0126982              0
7         NaN            270
8   AP1807651              0
9   AP0728371              0
10  AP1934892              0
11  AP1595288             45
12  AP1883103            240
13  AP1365782            255
14        NaN              0
15  AP2443797              0
16  AP0036951              0
17  AP3200230              0
18  AP0139724            360
19  AP2166075              0
20        NaN              0
21  AP1332969              0
22  AP2130355              0
23  AP0714887            615
24  AP2214740              0
25  AP0857188              0
26        NaN            510
27  AP1874350             75
28  AP3209293            465
29  AP0089696           3435
..        ...            ...
70  AP0683877            240
71  AP0118925              0
72  AP2152296              0
73  AP1343639              0
74  AP1869077              0
75  AP2196115              0
76  AP1230067              0
77  AP2014650              0
78  AP2281620              0
79  AP1336198              0
80  AP0849708           3495
81  AP2113896              0
82  AP1834639             60
83  AP0455565            810
84  AP0849030            525
85  AP0478796            150
86  AP3589376              0
87  AP2459335              0
88  AP0812453              0
89  AP0433841              0
90  AP1947403              0
91  AP0189854            720
92  AP3883979              0
93  AP0390218            180
94  AP2286280              0
95  AP1957774              0
96  AP1273998              0
97  AP1228990              0
98  AP1881803              0
99  AP4772804              0

[100 rows x 2 columns]

In [153]:
type(9090909*9999999*6755658889894545)

int

In [154]:
df[["PHYSICIAN","AllergyMax_RX"]][0:4]

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [157]:
df[["PHYSICIAN","AllergyMax_RX"]][::-9]

    PHYSICIAN  AllergyMax_RX
99  AP4772804              0
90  AP1947403              0
81  AP2113896              0
72  AP2152296              0
63  AP2010286            210
54  AP0813539              0
45  AP1983160            780
36  AP2215776              0
27  AP1874350             75
18  AP0139724            360
9   AP0728371              0
0   AP1912920            510

In [ ]:
type(231)

In [ ]:
type(231)

In [ ]:
df.loc[0:4,"PHYSICIAN":"AllergyMax_RX"]

In [ ]:
df.iloc[0:4,0:3]

In [1]:
import pandas alias pd

SyntaxError: invalid syntax (<ipython-input-1-2902f201b238>, line 1)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("physician_rx.csv")

In [4]:
len(df)

100

In [6]:
df.loc[0:4,"PHYSICIAN":"AllergyMax_RX"]

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX
0  AP1912920        0.0           50            510
1  AP1350415     2370.0         1320             60
2  AP0129322        0.0           85              0
3  AP0462902       30.0          570              0
4  AP3185026        0.0           40           1080

In [7]:
df.iloc[0:4,0:3]

   PHYSICIAN  CroMax_RX  GlycoMax_RX
0  AP1912920        0.0           50
1  AP1350415     2370.0         1320
2  AP0129322        0.0           85
3  AP0462902       30.0          570

In [8]:
df["CroMax_RX"] >50

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29     True
      ...
70    False
71     True
72    False
73    False
74     True
75    False
76     True
77    False
78    False
79     True
80    False
81    False
82     True
83    False
84    False
85     True
86    False
87     True
88    False
89     True
90    False
91    False
92    False
93    False
94    False
95     True
96     True
97    False
98    False
99    False
Name: CroMax_RX, Length: 100, dtype: bool

In [12]:
my_df = df[df["CroMax_RX"] > 50]

In [14]:
my_df[my_df["GlycoMax_RX"] > 50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [15]:
df[df["CroMax_RX"] > 50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
5   AP3674571       70.0           40              0         64           0
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0

In [16]:
my_df[my_df["GlycoMax_RX"] > 50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [24]:
len(df[(df["GlycoMax_RX"] > 50) & (df["CroMax_RX"] > 50)]["PHYSICIAN"])

30

In [22]:
(df["GlycoMax_RX"] > 50) & (df["CroMax_RX"] > 50)

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29     True
      ...
70    False
71     True
72    False
73    False
74     True
75    False
76     True
77    False
78    False
79     True
80    False
81    False
82     True
83    False
84    False
85     True
86    False
87     True
88    False
89     True
90    False
91    False
92    False
93    False
94    False
95    False
96     True
97    False
98    False
99    False
Length: 100, dtype: bool

In [26]:
df.loc[0:0,["PHYSICIAN"]]

   PHYSICIAN
0  AP1912920

In [27]:
df.iloc[0:1,0:1]

   PHYSICIAN
0  AP1912920

In [28]:
df.iat[0,0]

'AP1912920'

In [29]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [31]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [33]:
df[df["CroMax_RX"].isnull()] # find the null value records for CroMax_RX

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [34]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [35]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [36]:
df = df.dropna()

In [37]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [38]:
len(df)

96

In [40]:
df.columns = ['PHY', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX','ColdMax_RX']

In [41]:
df.head()

         PHY  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [43]:
df = df.rename(columns={'PHY':'PHYSICIAN'})

In [44]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [45]:
"hello world".replace("l","z")

'hezzo worzd'

In [46]:
df.columns.str.replace("_",".")

Index(['PHYSICIAN', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX'],
      dtype='object')

In [48]:
df["PHYSICIAN"] = df["PHYSICIAN"].str.replace("AP","AB")

In [49]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [50]:
df["bucket"] = "B1"

In [51]:
df.head()

,PHYSICIAN,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [52]:
my_df = df[(df["GlycoMax_RX"] > 50) & (df["CroMax_RX"] > 50)]

In [53]:
my_df["bucket"] = "B2"

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
my_df.head()

,PHYSICIAN,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket
1,AB1350415,2370.0,1320,60,1416,2676,B2
10,AB1934892,640.0,390,0,280,0,B2
16,AB0036951,330.0,525,0,0,0,B2
21,AB1332969,90.0,870,0,88,24,B2
22,AB2130355,160.0,145,0,0,180,B2

In [55]:
df = my_df

In [56]:
df.head()

,PHYSICIAN,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket
1,AB1350415,2370.0,1320,60,1416,2676,B2
10,AB1934892,640.0,390,0,280,0,B2
16,AB0036951,330.0,525,0,0,0,B2
21,AB1332969,90.0,870,0,88,24,B2
22,AB2130355,160.0,145,0,0,180,B2

In [57]:
df = pd.read_csv("physician_rx.csv")

In [58]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [59]:
df = df.dropna()

In [60]:
len(df)

96

In [61]:
df[(df["GlycoMax_RX"] > 50) & (df["CroMax_RX"] > 50)]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
10  AP1934892      640.0          390              0        280           0
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [62]:
df["bucket"] = "B1"

In [63]:
df

,PHYSICIAN,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket
0,AP1912920,0.0,50,510,152,0,B1
1,AP1350415,2370.0,1320,60,1416,2676,B1
2,AP0129322,0.0,85,0,0,144,B1
3,AP0462902,30.0,570,0,128,3900,B1
4,AP3185026,0.0,40,1080,0,0,B1
5,AP3674571,70.0,40,0,64,0,B1
6,AP0126982,0.0,135,0,0,0,B1
8,AP1807651,0.0,650,0,0,300,B1
9,AP0728371,0.0,0,0,0,0,B1
10,AP1934892,640.0,390,0,280,0,B1
11,AP1595288,160.0,35,45,0,0,B1
12,AP1883103,0.0,225,240,0,0,B1
13,AP1365782,400.0,15,255,704,444,B1
15,AP2443797,0.0,25,0,72,48,B1
16,AP0036951,330.0,525,0,0,0,B1
17,AP3200230,0.0,135,0,0,0,B1
18,AP0139724,0.0,85,360,0,480,B1
19,AP2166075,0.0,70,0,0,36,B1
21,AP1332969,90.0,870,0,88,24,B1
22,AP2130355,160.0,145,0,0,180,B1
23,AP0714887,160.0,780,615,16,2964,B1
24,AP2214740,0.0,90,0,0,0,B1
25,AP0857188,0.0,130,0,0,588,B1
27,AP1874350,0.0,0,75,0,0,B1
28,AP3209293,0.0,55,465,0,0,B1
29,AP0089696,930.0,250,3435,0,396,B1
30,AP0481633,0.0,340,45,280,0,B1
31,AP0692473,90.0,215,375,0,348,B1
32,AP0406810,0.0,110,1230,0,36,B1
33,AP0464297,0.0,405,0,0,36,B1
...,...,...,...,...,...,...,...
70,AP0683877,50.0,90,240,0,0,B1
71,AP0118925,160.0,375,0,240,0,B1
72,AP2152296,0.0,40,0,0,324,B1
73,AP1343639,10.0,45,0,24,528,B1
74,AP1869077,1830.0,140,0,488,72,B1
75,AP2196115,0.0,0,0,0,384,B1
76,AP1230067,110.0,70,0,0,0,B1
77,AP2014650,0.0,60,0,0,60,B1
78,AP2281620,0.0,255,0,0,36,B1
79,AP1336198,150.0,615,0,0,0,B1
80,AP0849708,0.0,90,3495,0,0,B1
81,AP2113896,20.0,30,0,0,0,B1
82,AP1834639,270.0,1240,60,40,60,B1
83,AP0455565,0.0,105,810,24,1896,B1
84,AP0849030,0.0,80,525,0,24,B1
85,AP0478796,630.0,240,150,0,96,B1
86,AP3589376,0.0,135,0,0,72,B1
87,AP2459335,320.0,320,0,256,12,B1
88,AP0812453,0.0,45,0,0,264,B1
89,AP0433841,120.0,65,0,0,0,B1
90,AP1947403,0.0,240,0,8,156,B1
91,AP0189854,0.0,70,720,0,0,B1
92,AP3883979,0.0,255,0,0,132,B1
93,AP0390218,0.0,105,180,40,0,B1
94,AP2286280,0.0,0,0,0,144,B1
95,AP1957774,390.0,15,0,16,36,B1
96,AP1273998,480.0,630,0,0,0,B1
97,AP1228990,0.0,0,0,0,180,B1
98,AP1881803,0.0,10,0,0,0,B1
99,AP4772804,10.0,0,0,0,0,B1

In [64]:
df[(df["GlycoMax_RX"] > 50) & (df["CroMax_RX"] > 50)]["bucket"] = "B2"

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
(df[(df["GlycoMax_RX"] > 50) & (df["CroMax_RX"] > 50)])["bucket"] = "B2"

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
df["bucket"] = "B2"

In [67]:
df.head()

,PHYSICIAN,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket
0,AP1912920,0.0,50,510,152,0,B2
1,AP1350415,2370.0,1320,60,1416,2676,B2
2,AP0129322,0.0,85,0,0,144,B2
3,AP0462902,30.0,570,0,128,3900,B2
4,AP3185026,0.0,40,1080,0,0,B2

In [68]:
len(df)

96

In [70]:
df.loc[(df["GlycoMax_RX"] > 50) & (df["CroMax_RX"] > 50),"bucket"] = "B1"

In [71]:
df

,PHYSICIAN,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket
0,AP1912920,0.0,50,510,152,0,B2
1,AP1350415,2370.0,1320,60,1416,2676,B1
2,AP0129322,0.0,85,0,0,144,B2
3,AP0462902,30.0,570,0,128,3900,B2
4,AP3185026,0.0,40,1080,0,0,B2
5,AP3674571,70.0,40,0,64,0,B2
6,AP0126982,0.0,135,0,0,0,B2
8,AP1807651,0.0,650,0,0,300,B2
9,AP0728371,0.0,0,0,0,0,B2
10,AP1934892,640.0,390,0,280,0,B1
11,AP1595288,160.0,35,45,0,0,B2
12,AP1883103,0.0,225,240,0,0,B2
13,AP1365782,400.0,15,255,704,444,B2
15,AP2443797,0.0,25,0,72,48,B2
16,AP0036951,330.0,525,0,0,0,B1
17,AP3200230,0.0,135,0,0,0,B2
18,AP0139724,0.0,85,360,0,480,B2
19,AP2166075,0.0,70,0,0,36,B2
21,AP1332969,90.0,870,0,88,24,B1
22,AP2130355,160.0,145,0,0,180,B1
23,AP0714887,160.0,780,615,16,2964,B1
24,AP2214740,0.0,90,0,0,0,B2
25,AP0857188,0.0,130,0,0,588,B2
27,AP1874350,0.0,0,75,0,0,B2
28,AP3209293,0.0,55,465,0,0,B2
29,AP0089696,930.0,250,3435,0,396,B1
30,AP0481633,0.0,340,45,280,0,B2
31,AP0692473,90.0,215,375,0,348,B1
32,AP0406810,0.0,110,1230,0,36,B2
33,AP0464297,0.0,405,0,0,36,B2
...,...,...,...,...,...,...,...
70,AP0683877,50.0,90,240,0,0,B2
71,AP0118925,160.0,375,0,240,0,B1
72,AP2152296,0.0,40,0,0,324,B2
73,AP1343639,10.0,45,0,24,528,B2
74,AP1869077,1830.0,140,0,488,72,B1
75,AP2196115,0.0,0,0,0,384,B2
76,AP1230067,110.0,70,0,0,0,B1
77,AP2014650,0.0,60,0,0,60,B2
78,AP2281620,0.0,255,0,0,36,B2
79,AP1336198,150.0,615,0,0,0,B1
80,AP0849708,0.0,90,3495,0,0,B2
81,AP2113896,20.0,30,0,0,0,B2
82,AP1834639,270.0,1240,60,40,60,B1
83,AP0455565,0.0,105,810,24,1896,B2
84,AP0849030,0.0,80,525,0,24,B2
85,AP0478796,630.0,240,150,0,96,B1
86,AP3589376,0.0,135,0,0,72,B2
87,AP2459335,320.0,320,0,256,12,B1
88,AP0812453,0.0,45,0,0,264,B2
89,AP0433841,120.0,65,0,0,0,B1
90,AP1947403,0.0,240,0,8,156,B2
91,AP0189854,0.0,70,720,0,0,B2
92,AP3883979,0.0,255,0,0,132,B2
93,AP0390218,0.0,105,180,40,0,B2
94,AP2286280,0.0,0,0,0,144,B2
95,AP1957774,390.0,15,0,16,36,B2
96,AP1273998,480.0,630,0,0,0,B1
97,AP1228990,0.0,0,0,0,180,B2
98,AP1881803,0.0,10,0,0,0,B2
99,AP4772804,10.0,0,0,0,0,B2

In [72]:
df["new_physician"] = df["bucket"] + "_" + df["PHYSICIAN"]

In [73]:
df.head()

,PHYSICIAN,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket,new_physician
0,AP1912920,0.0,50,510,152,0,B2,B2_AP1912920
1,AP1350415,2370.0,1320,60,1416,2676,B1,B1_AP1350415
2,AP0129322,0.0,85,0,0,144,B2,B2_AP0129322
3,AP0462902,30.0,570,0,128,3900,B2,B2_AP0462902
4,AP3185026,0.0,40,1080,0,0,B2,B2_AP3185026

In [74]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX', 'bucket', 'new_physician'],
      dtype='object')

In [75]:
df.columns = ['new_physician', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX','ColdMax_RX', 'bucket', 'PHYSICIAN']

In [76]:
df.head()

,new_physician,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket,PHYSICIAN
0,AP1912920,0.0,50,510,152,0,B2,B2_AP1912920
1,AP1350415,2370.0,1320,60,1416,2676,B1,B1_AP1350415
2,AP0129322,0.0,85,0,0,144,B2,B2_AP0129322
3,AP0462902,30.0,570,0,128,3900,B2,B2_AP0462902
4,AP3185026,0.0,40,1080,0,0,B2,B2_AP3185026

In [77]:
df["new_physician"] = df['PHYSICIAN']

In [78]:
df.head()

,new_physician,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket,PHYSICIAN
0,B2_AP1912920,0.0,50,510,152,0,B2,B2_AP1912920
1,B1_AP1350415,2370.0,1320,60,1416,2676,B1,B1_AP1350415
2,B2_AP0129322,0.0,85,0,0,144,B2,B2_AP0129322
3,B2_AP0462902,30.0,570,0,128,3900,B2,B2_AP0462902
4,B2_AP3185026,0.0,40,1080,0,0,B2,B2_AP3185026

In [79]:
del df["PHYSICIAN"]

In [80]:
df

,new_physician,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,bucket
0,B2_AP1912920,0.0,50,510,152,0,B2
1,B1_AP1350415,2370.0,1320,60,1416,2676,B1
2,B2_AP0129322,0.0,85,0,0,144,B2
3,B2_AP0462902,30.0,570,0,128,3900,B2
4,B2_AP3185026,0.0,40,1080,0,0,B2
5,B2_AP3674571,70.0,40,0,64,0,B2
6,B2_AP0126982,0.0,135,0,0,0,B2
8,B2_AP1807651,0.0,650,0,0,300,B2
9,B2_AP0728371,0.0,0,0,0,0,B2
10,B1_AP1934892,640.0,390,0,280,0,B1
11,B2_AP1595288,160.0,35,45,0,0,B2
12,B2_AP1883103,0.0,225,240,0,0,B2
13,B2_AP1365782,400.0,15,255,704,444,B2
15,B2_AP2443797,0.0,25,0,72,48,B2
16,B1_AP0036951,330.0,525,0,0,0,B1
17,B2_AP3200230,0.0,135,0,0,0,B2
18,B2_AP0139724,0.0,85,360,0,480,B2
19,B2_AP2166075,0.0,70,0,0,36,B2
21,B1_AP1332969,90.0,870,0,88,24,B1
22,B1_AP2130355,160.0,145,0,0,180,B1
23,B1_AP0714887,160.0,780,615,16,2964,B1
24,B2_AP2214740,0.0,90,0,0,0,B2
25,B2_AP0857188,0.0,130,0,0,588,B2
27,B2_AP1874350,0.0,0,75,0,0,B2
28,B2_AP3209293,0.0,55,465,0,0,B2
29,B1_AP0089696,930.0,250,3435,0,396,B1
30,B2_AP0481633,0.0,340,45,280,0,B2
31,B1_AP0692473,90.0,215,375,0,348,B1
32,B2_AP0406810,0.0,110,1230,0,36,B2
33,B2_AP0464297,0.0,405,0,0,36,B2
...,...,...,...,...,...,...,...
70,B2_AP0683877,50.0,90,240,0,0,B2
71,B1_AP0118925,160.0,375,0,240,0,B1
72,B2_AP2152296,0.0,40,0,0,324,B2
73,B2_AP1343639,10.0,45,0,24,528,B2
74,B1_AP1869077,1830.0,140,0,488,72,B1
75,B2_AP2196115,0.0,0,0,0,384,B2
76,B1_AP1230067,110.0,70,0,0,0,B1
77,B2_AP2014650,0.0,60,0,0,60,B2
78,B2_AP2281620,0.0,255,0,0,36,B2
79,B1_AP1336198,150.0,615,0,0,0,B1
80,B2_AP0849708,0.0,90,3495,0,0,B2
81,B2_AP2113896,20.0,30,0,0,0,B2
82,B1_AP1834639,270.0,1240,60,40,60,B1
83,B2_AP0455565,0.0,105,810,24,1896,B2
84,B2_AP0849030,0.0,80,525,0,24,B2
85,B1_AP0478796,630.0,240,150,0,96,B1
86,B2_AP3589376,0.0,135,0,0,72,B2
87,B1_AP2459335,320.0,320,0,256,12,B1
88,B2_AP0812453,0.0,45,0,0,264,B2
89,B1_AP0433841,120.0,65,0,0,0,B1
90,B2_AP1947403,0.0,240,0,8,156,B2
91,B2_AP0189854,0.0,70,720,0,0,B2
92,B2_AP3883979,0.0,255,0,0,132,B2
93,B2_AP0390218,0.0,105,180,40,0,B2
94,B2_AP2286280,0.0,0,0,0,144,B2
95,B2_AP1957774,390.0,15,0,16,36,B2
96,B1_AP1273998,480.0,630,0,0,0,B1
97,B2_AP1228990,0.0,0,0,0,180,B2
98,B2_AP1881803,0.0,10,0,0,0,B2
99,B2_AP4772804,10.0,0,0,0,0,B2

In [81]:
df.columns

Index(['new_physician', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX',
       'FevMax_RX', 'ColdMax_RX', 'bucket'],
      dtype='object')

In [82]:
df = df[['new_physician', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX',
       'FevMax_RX', 'ColdMax_RX']]

In [83]:
df.head()

  new_physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  B2_AP1912920        0.0           50            510        152           0
1  B1_AP1350415     2370.0         1320             60       1416        2676
2  B2_AP0129322        0.0           85              0          0         144
3  B2_AP0462902       30.0          570              0        128        3900
4  B2_AP3185026        0.0           40           1080          0           0

In [84]:
df["new_physician"].str.split("_")

0     [B2, AP1912920]
1     [B1, AP1350415]
2     [B2, AP0129322]
3     [B2, AP0462902]
4     [B2, AP3185026]
5     [B2, AP3674571]
6     [B2, AP0126982]
8     [B2, AP1807651]
9     [B2, AP0728371]
10    [B1, AP1934892]
11    [B2, AP1595288]
12    [B2, AP1883103]
13    [B2, AP1365782]
15    [B2, AP2443797]
16    [B1, AP0036951]
17    [B2, AP3200230]
18    [B2, AP0139724]
19    [B2, AP2166075]
21    [B1, AP1332969]
22    [B1, AP2130355]
23    [B1, AP0714887]
24    [B2, AP2214740]
25    [B2, AP0857188]
27    [B2, AP1874350]
28    [B2, AP3209293]
29    [B1, AP0089696]
30    [B2, AP0481633]
31    [B1, AP0692473]
32    [B2, AP0406810]
33    [B2, AP0464297]
           ...
70    [B2, AP0683877]
71    [B1, AP0118925]
72    [B2, AP2152296]
73    [B2, AP1343639]
74    [B1, AP1869077]
75    [B2, AP2196115]
76    [B1, AP1230067]
77    [B2, AP2014650]
78    [B2, AP2281620]
79    [B1, AP1336198]
80    [B2, AP0849708]
81    [B2, AP2113896]
82    [B1, AP1834639]
83    [B2, AP0455565]
84    [B2, AP0849030]
85    [B1, AP0478796]
86    [B2, AP3589376]
87    [B1, AP2459335]
88    [B2, AP0812453]
89    [B1, AP0433841]
90    [B2, AP1947403]
91    [B2, AP0189854]
92    [B2, AP3883979]
93    [B2, AP0390218]
94    [B2, AP2286280]
95    [B2, AP1957774]
96    [B1, AP1273998]
97    [B2, AP1228990]
98    [B2, AP1881803]
99    [B2, AP4772804]
Name: new_physician, Length: 96, dtype: object

In [88]:

df["physician"] = df["new_physician"].str.split("_").str[1]
df["bucket"] = df["new_physician"].str.split("_").str[0]

In [89]:
df.head()

,new_physician,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,physician,bucket
0,B2_AP1912920,0.0,50,510,152,0,AP1912920,B2
1,B1_AP1350415,2370.0,1320,60,1416,2676,AP1350415,B1
2,B2_AP0129322,0.0,85,0,0,144,AP0129322,B2
3,B2_AP0462902,30.0,570,0,128,3900,AP0462902,B2
4,B2_AP3185026,0.0,40,1080,0,0,AP3185026,B2

In [3]:
type(6698736875387538583585385853853)

int

In [5]:
1l

SyntaxError: invalid syntax (<ipython-input-5-00f88695ad1c>, line 1)